__pycache__/
*.pyc
*.pyo

build/
dist/
*.spec
*.exe

data/config.json
*_config.json
*.local.json

data/inbox/*
!data/inbox/.gitkeep
data/bgm/*
!data/bgm/.gitkeep
data/outputs/*
!data/outputs/.gitkeep
data/logs/*
!data/logs/.gitkeep
data/templates/thumbnails/*
!data/templates/thumbnails/.gitkeep
data/templates/logos/*
!data/templates/logos/.gitkeep

Thumbs.db
desktop.ini
